<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>random word</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tagual.css') }}">
</head>
<body>
  <button class="b" id="getMessage">Get Word</button>
  <p class="o" id="output"></p>
  <button id="CL" class="b">Clear</button>
  <button id="tag" class="b">back</button>

<script src="{{ url_for('static', filename='tagual.js') }}"></script>
<!--   ta gueule -->
  </style>
</body>
</html>
