<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='wordmaker.css') }}">
</head>
<body>
<input class="b" id="p1" type="text" placeholder="Enter word">
<p></p>
<input  id="d1" type="checkbox"> <label for="d1">Only suffixes</label><br>
<input id="d2" type="checkbox"> <label for="d2">Only prefixes</label><br>
<div class="o"id="output"></div>


<script src="{{ url_for('static', filename='wordmaker.js') }}"></script>

</body>
</html>